<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="YowesResto is Restaurant Catalog to give you the best experience for find restaurant in the Town">
  
  <link rel="icon" type="image/x-icon" href="./icons/favicon.png">
  <link rel="manifest" href="./app.webmanifest">

  <title>YowesResto</title>
</head>
<body>
  <a class="skip_link" href="#main" aria-label="skip to content">Skip to content</a>
  <nav id="navigationDrawer" class="app_bar">
    <img class="img_logo" src="./icons/YowesResto.png" alt="YowesResto Logo" width="130">
    <button id="hamburgerButton" class="hamburger-menu" aria-label="Open Menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <ul class="navbar_list">
      <li class="navbar_item">
        <div class="navbar_item_container">
          <a href="#/">Home</a>
        </div>
      </li>
      <li class="navbar_item">
        <div class="navbar_item_container">
          <a href="#/favorites">Favorite</a>
        </div>
      </li>
      <li class="navbar_item">
        <div class="navbar_item_container">
          <a href="https://github.com/lil-id">About Us</a>
        </div>
      </li>
    </ul>
  </nav>
  <div id="app"></div>
  <footer>
    <div class="container_footer">
      <h2 class="footer_main_title">Find The Best<br>Restaurant in Town</h2>
      <p class="copyright">Copyright © 2023 - YowesResto</p>
      <div class="container-social-media">
        <p class="follow_us">Follow us</p>
        <ul class="list-social-media">
          <li>
            <div class="social_media_item_container">
              <a href="#">Facebook</a>
            </div>
          </li>
          <li>
            <div class="social_media_item_container">
              <a href="#">Linkedin</a>
            </div>
          </li>
          <li>
            <div class="social_media_item_container">
              <a class="instagram" href="#">Instagram</a>
            </div>
          </li>
          <li>
            <div class="social_media_item_container">
              <a href="#">Twitter</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>