  /* Mobile Screen */

  @media screen and (max-width: 767px) {

    .main_hero_container {
      height: 0;
      background: url('../public/images/heros/hero-image_2-small.webp') center;
      background-size: cover;
      min-height: 350px;
    }

    body {
      min-width: 375px;
    }

    /* Navbar */

    .skip_link {
      margin-left: 10px;
      transform: translateY(-230%);
    }

    .skip_link:focus {
      transform: translateY(1%);
    }

    .bar {
      display: block;
      width: 30px;
      height: 2px;
      margin: 3px 0 3px 0;
    }

    .hamburger-menu {
      border: none;
      background: none;
      visibility:visible;
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 44px;
      height: 44px;
      margin-right: 20px;
      justify-self: end;
    }

    .img_logo {
      margin-left: 20px;
    }

    .app_bar {
      display: grid;
      height: 74px;
      align-items: center;
      width: auto;
      grid-template-columns: repeat(2, 1fr);
    }

    .navbar_list {
      top: 75px;
      width: 105%;
      right: -110%;
      position: fixed;
      display: grid;
      justify-content: center;
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 50px);
      transition: 0.3s;
      background-color: #b2ff9e;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    .navbar_item_container {
      display: grid;
      align-items: center;
      justify-items: center;
      width: 80px;
      height: 44px;
      margin: 0 10px;
    }

    .navbar_list.active {
      right: 0;
  }

    /* Main Hero Image */

    .container_main_hero_image {
      padding: 0px;
    }

    .hero_image {
      max-width: 100%;
      height: 300px;
      object-position: 50% 50%;
    }

    /* List of Restaurant Card */

    .popular_restaurant_title {
      font-size: 30px;
    }

    .restaurant-list {
      margin-top: 20px;
      display: grid;
      justify-items: center;
      align-items: start;
      grid-template-columns: repeat(1, 2fr);
      grid-template-rows: 510px;
      grid-auto-rows: 510px;
    }

    .restaurant_card {
      width: 300px;
      display: grid;
      justify-items: center;
      align-items: center;
      margin: 30px 0;
      padding: 15px 20px;
      background-color: #ffffff;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 220px 250px;
    }

    .container_restaurant {
      order: 2;
      display: grid;
      justify-items: center;
      align-items: center;
      row-gap: 10px;
      grid-template-rows: max-content;
    }

    .container_restaurant_image {
      order: 1;
    }

    .restaurant_image {
      width: 250px;
      height: 200px;
      border-radius: 10px;
    }

    .restaurant_title {
      font-size: 23px;
    }

    .restaurant_description {
      font-size: 16px;
      width: 250px;
      height: 95px;
      line-height: 1.2rem;
      align-self: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box !important;
      -webkit-line-clamp: 4;
      -webkit-box-orient: horizontal;
      white-space: normal;
    }

    .container_rating_location {
      font-size: 16px;
      justify-self: start;
    }

    .button_book_now {
      margin-top: 20px;
    }

    /* Footer */

    .container_footer {
      width: auto;
      margin-top: 80px;
      height: auto;
      display: grid;
      justify-items: center;
      align-items: center;
      padding: 30px 0;
      background-color: #f6fff8;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 90px 80px 30px;
      border-top: 1px solid var(--neutral-2, #DEE5ED);
    }

    .footer_main_title {
      text-align: center;
      font-size: 25px;
    }

    .copyright {
      font-size: 18px;
      order: 3;
    }

    .follow_us {
      text-align: center;
    }

    .container-social-media {
      row-gap: 0;
    }

    .list-social-media {
      display: grid;
      font-size: 18px;
      list-style: none;
      column-gap: 15px;
      grid-template-columns: 70px 70px 70px 70px;
    }

    .social_media_item_container {
      width: auto;
      display: grid;
      justify-items: center;
      align-items: center;
      height: 45px;
      width: 85px;
      margin-right: 60px;
    }
  }

  /* Tablet Screen */

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    
    /* Main Hero Image */

    .hero_image{
      max-width: 100%;
    }

    .second_section {
      width: auto;
      align-items: center;
      justify-items: center;
    }
    
    .restaurant-list {
      display: grid;
      justify-content: center;
      justify-items: center;
      column-gap: 40px;
      row-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fill, 500px);
    }

    .resto {
      width: 300px;
      height: 500px;
    }

    .restaurant_card {
      width: 300px;
      display: grid;
      justify-items: center;
      align-items: center;
      margin: 30px 0;
      padding: 15px 20px;
      background-color: #ffffff;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 220px 250px;
    }

    .container_restaurant {
      order: 2;
      display: grid;
      justify-items: center;
      align-items: center;
      row-gap: 10px;
      grid-template-rows: max-content;
    }

    .container_restaurant_image {
      order: 1;
    }

    .restaurant_image {
      width: 250px;
      height: 200px;
      border-radius: 10px;
    }

    .restaurant_title {
      font-size: 23px;
    }

    .restaurant_description {
      font-size: 16px;
      width: 250px;
      height: 100px;
      line-height: 1.2rem;
      align-self: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box !important;
      -webkit-line-clamp: 4;
      -webkit-box-orient: horizontal;
      white-space: normal;
    }

    .container_rating_location {
      font-size: 16px;
      justify-self: start;
    }

    .button_book_now {
      margin-top: 20px;
    }

    /* Footer */

    .container_footer {
      width: auto;
      margin-top: 80px;
      height: auto;
      display: grid;
      justify-items: center;
      align-items: center;
      padding: 30px 0;
      background-color: #f6fff8;
      row-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 100px 75px 35px;
      border-top: 1px solid var(--neutral-2, #DEE5ED);
    }

    .footer_main_title {
      text-align: center;
      font-size: 35px;
    }

    .follow_us {
      font-size: 25px;
      text-align: center;
    }

    .list-social-media {
      font-size: 22px;
      display: grid;
      justify-items: start;
      list-style: none;
      column-gap: 48px;
      grid-template-columns: 80px 70px 80px 60px;
    }

    .copyright {
      font-size: 22px;
      order: 3;
    }
  }

/* Laptop/Desktop Screen */

@media screen and (min-width: 1025px) and (max-width: 1380px) {

  .main_hero_container {
    background: url('../public/images/heros/hero-image_2-large.webp') center;
  }

  .hero_image {
    max-width: 100%;
  }

  .resto {
    height: 250px;
  }

  .restaurant-list {
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 40px;
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 280px);
  }

  .restaurant_card {
    width: 500px;
    grid-template-columns: 250px auto;
  }

}